[Desktop Entry]
Type=Application
NoDisplay=false
Terminal=false
Exec=xdg-open https://universal-blue.discourse.group/c/aurora/
Icon=ublue-discourse
Name=Community
Name[fr]=Communauté
Comment=Universal Blue Forums
Comment[fr]=Forums d'Universal Blue
Categories=Utility;
